<!DOCTYPE html>
<html>
<head>
	<title>Pengambilan Barang</title>
	<style type="text/css">
		body{
			margin-left: 10%;
			margin-right: 10%;
			margin-top: 45px;
		}
	</style>
</head>
<body>

	<table align="center">
		<tr>
			
				<center>
					<font size="4">PEMERINTAH KABUPATEN BANYUWANGI</font><br>
					<font size="5"><b>BADAN PENANGGULANGAN BENCANA DAERAH</b></font><br>
					<font size="2">Jl. Jaksa Agung Suprapto No.71, Telepon (0333) 415567</font><br>
					<font size="2">www.banyuwangikab.go.id  Email : bpbdkabbwi@yahoo.co.id</font><br>
					<font size="2"><b>BANYUWANGI - 68416</b></font>	<br>
				</center>	
			
		</tr>
		<hr width="80%">
	</table>
	<table align="center">
		<tr>
			<center>
			<font size="3"><u><b>Bukti Pengambilan Barang Dari Gudang</b></u></font><br>
			<font size="3"><b>No. 027/SKR/BPBG/429.205/2019</b></font>
			</center>
		</tr>
	</table><br><br>
	
	
	<table width="50%" style="margin-left: 25%; border-collapse: collapse; border: 1px solid black;" ><center>
		<tr style="border: 1px solid black;"><center>
			<th style="border: 1px solid black;">No</th>
			<th style="border: 1px solid black;">Nama Barang</th>
			<th style="border: 1px solid black;">Jumlah</th>
			<th style="border: 1px solid black;">Satuan</th>
			</center>
		</tr>
		<tr>
			<td align="center" style="border: 1px solid black;">1</td>
			<td style="border: 1px solid black;">Amplop Putih Polos</td>
			<td style="border: 1px solid black;" align="center">3</td>
			<td style="border: 1px solid black;" align="center">dos</td>
		</tr>
		<tr>
			<td align="center" style="border: 1px solid black;">1</td>
			<td style="border: 1px solid black;">Amplop Putih Polos</td>
			<td style="border: 1px solid black;" align="center">3</td>
			<td style="border: 1px solid black;" align="center">dos</td>
		</tr>
		<tr>
			<td align="center" style="border: 1px solid black;">1</td>
			<td style="border: 1px solid black;">Amplop Putih Polos</td>
			<td style="border: 1px solid black;" align="center">3</td>
			<td style="border: 1px solid black;" align="center">dos</td>
		</tr>
		<tr>
			<td align="center" style="border: 1px solid black;">1</td>
			<td style="border: 1px solid black;">Amplop Putih Polos</td>
			<td style="border: 1px solid black;" align="center">3</td>
			<td style="border: 1px solid black;" align="center">dos</td>
		</tr>
				</center>
	</table><br><br><br>
	<footer style="	">
		<font size="4">Banyuwangi, 04 Januari 2019</font><br>
		<font size="4">Yang Menerima,</font><br>
		<font size="4">Kasubbag. Umum dan Kepegawaian</font><br><br><br><br><br>


		<font size="4"><u>RISTI WAHYUNINGTYAS. SE</u></font><br>
		<font size="4">NIP. 19600608 198603 1 015</font>
	</footer>

<footer style="float: right; margin-bottom: 50px; margin-top: -180px;">
		<font size="4">Banyuwangi, 04 Januari 2019</font><br>
		<font size="4">Yang Menerima,</font><br>
		<font size="4">Pengurus Barang Pengguna</font><br><br><br><br><br>


		<font size="4"><u>WAWAN HERMANTO</u></font><br>
		<font size="4">NIP. 1980101010 200901 1 025</font>
	</footer><br>

	<footer style="margin-bottom: 50px; margin-top: 50px;">
		<center>
		<font size="4">Mengetahui</font><br>
		<font size="4">Pengguna Barang</font><br><br><br><br><br>


		<font size="4"><u>FAJAR SUASANA</u></font><br>
		<font size="4">NIP. 19600608 198603 1 015</font>
		</center>
	</footer>
</body>
</html>