<!DOCTYPE html>
<html>
<head>
	<title>Surat</title>
	<style type="text/css">
		body{
			margin-left: 10%;
			margin-right: 10%;
			margin-top: 45px;
		}


		
	</style>
</head>
<body>

	
	<table align="center">
		<tr>
			<center>
			<font size="4"><b>NOTA PERMINTAAN BARANG</b><br>
			</center>
		</tr>
	</table><br><br>
	<table>
		<tr>
			<td><font size="4">Kepada </font></td>
			<td><font size="4">:</font></td>
			<td><font size="4"> Pengguna Barang</font></td>
		</tr>
		<tr>
			<td><font size="4">Pemohon </font></td>
			<td><font size="4">:</font></td>
			<td><font size="4"> RISTI WAHYUNINGTYAS. SE</font></td>
		</tr>
		<tr>
			<td><font size="4">Tanggal </font></td>
			<td><font size="4">:</font></td>
			<td><font size="4"> 04 Januari 2019</font></td>
		</tr>
		<tr>
			<td><font size="4">Nomor </font></td>
			<td><font size="4">:</font></td>
			<td><font size="4"> 027/04.Skr/429.205/2019</font></td>
		</tr>
		<tr>
			<td><font size="4">Perihal </font></td>
			<td><font size="4">:</font></td>
			<td><font size="4"> Permohon Permintaan Barang Alat Tulis Kantor</font></td>
		</tr>
	</table><br>
	<!-- <font size="4">Harap Dikeluarkan dari gudang dan disalurkan barang tersebut dalam daftar dibawah ini untuk Sekretariat pada Badan Penanggulangan Bencana Daerah Kabupaten Banyuwangi</font><br><br>

	<font size="4">Berdasarkan surat Permohonan Permintaan barang / jasa nomor 027/04.SKR/429.205/2019 Tanggal 04 Januari 2019</font><br><br>
 -->
	<table width="50%" style="margin-left: 25%; border-collapse: collapse; border: 1px solid black;" ><center>
		<tr style="border: 1px solid black;"><center>
			<th style="border: 1px solid black;">No</th>
			<th style="border: 1px solid black;">Nama Barang</th>
			<th style="border: 1px solid black;">Jumlah</th>
			<th style="border: 1px solid black;">Satuan</th>
			</center>
		</tr>
		<tr>
			<td align="center" style="border: 1px solid black;">1</td>
			<td style="border: 1px solid black;">Amplop Putih Polos</td>
			<td style="border: 1px solid black;" align="center">3</td>
			<td style="border: 1px solid black;" align="center">dos</td>
		</tr>
		<tr>
			<td align="center" style="border: 1px solid black;">1</td>
			<td style="border: 1px solid black;">Amplop Putih Polos</td>
			<td style="border: 1px solid black;" align="center">3</td>
			<td style="border: 1px solid black;" align="center">dos</td>
		</tr>
		<tr>
			<td align="center" style="border: 1px solid black;">1</td>
			<td style="border: 1px solid black;">Amplop Putih Polos</td>
			<td style="border: 1px solid black;" align="center">3</td>
			<td style="border: 1px solid black;" align="center">dos</td>
		</tr>
		<tr>
			<td align="center" style="border: 1px solid black;">1</td>
			<td style="border: 1px solid black;">Amplop Putih Polos</td>
			<td style="border: 1px solid black;" align="center">3</td>
			<td style="border: 1px solid black;" align="center">dos</td>
		</tr>
				</center>
	</table><br><br><br>
	<footer style="margin-left: 65%">
		<font size="4">Banyuwangi, 04 Januari 2019</font><br><br>
		<font size="4">Pengguna Barang</font><br><br><br><br><br>


		<font size="4"><u>RISTI WAHYUNINGTYAS. SE</u></font><br>
		<font size="4">NIP. 19600608 198603 1 015</font>
	</footer>
</body>
</html>