<!DOCTYPE html>
<html>
<head>
	<title>Surat</title>
	<style type="text/css">
		body{
			margin-left: 10%;
			margin-right: 10%;
			margin-top: 45px;
		}

		tr{
			text-decoration: none;
		}
		
	</style>
</head>
<body>

	<table align="center">
		<tr>
			
				<center>
					<font size="4">PEMERINTAH KABUPATEN BANYUWANGI</font><br>
					<font size="5"><b>BADAN PENANGGULANGAN BENCANA DAERAH</b></font><br>
					<font size="2">Jl. Jaksa Agung Suprapto No.71, Telepon (0333) 415567</font><br>
					<font size="2">www.banyuwangikab.go.id  Email : bpbdkabbwi@yahoo.co.id</font><br>
					<font size="2"><b>BANYUWANGI - 68416</b></font>	<br>
				</center>	
			
		</tr>
		<hr width="80%">
	</table>
	<table align="center">
		<tr>
			<center>
			<font size="3">Surat Perintah Pengeluaran / Penyaluran Barang</font><br>
			<font size="3">No. 027/SKR.SPPB/429.205/2019</font>
			</center>
		</tr>
	</table><br><br>
	<table>
		<tr>
			<td><font size="4">Dari </font></td>
			<td><font size="4">:</font></td>
			<td><font size="4"> Pengguna Barang</font></td>
		</tr>
		<tr>
			<td><font size="4">Kepada </font></td>
			<td><font size="4">:</font></td>
			<td><font size="4"> Pengurus Barang Pengguna</font></td>
		</tr>
	</table><br>
	<font size="4">Harap Dikeluarkan dari gudang dan disalurkan barang tersebut dalam daftar dibawah ini untuk Sekretariat pada Badan Penanggulangan Bencana Daerah Kabupaten Banyuwangi</font><br><br>

	<font size="4">Berdasarkan surat Permohonan Permintaan barang / jasa nomor 027/04.SKR/429.205/2019 Tanggal 04 Januari 2019</font><br><br>

	<table width="50%" style="margin-left: 25%;" border="1"><center>
		<tr><center>
			<th>No</th>
			<th>Nama Barang</th>
			<th>Jumlah</th>
			<th>Satuan</th>
			</center>
		</tr>
		<tr>
			<td align="center">1</td>
			<td>Amplop Putih Polos</td>
			<td align="center">3</td>
			<td align="center">dos</td>
		</tr>
		<tr>
			<td align="center">1</td>
			<td>Amplop Putih Polos</td>
			<td align="center">3</td>
			<td align="center">dos</td>
		</tr>
		<tr>
			<td align="center">1</td>
			<td>Amplop Putih Polos</td>
			<td align="center">3</td>
			<td align="center">dos</td>
		</tr>
		<tr>
			<td align="center">1</td>
			<td>Amplop Putih Polos</td>
			<td align="center">3</td>
			<td align="center">dos</td>
		</tr>
		</center>
	</table><br><br><br>
	<footer style="margin-left: 65%">
		<font size="4">Banyuwangi, 04 Januari 2019</font><br><br>
		<font size="4">Pengguna Barang</font><br><br><br><br><br>


		<font size="4"><u>FAJAR SUASANA, S.H.</u></font>
	</footer>
</body>
</html>